
<% layout('layout/boilerplate') %> 


    <h1>All campgrounds</h1>
    <% for( let camp of campground ){ %>
       <div class="card " style="border-radius:10px;">
           <div class="row" style="border-radius:10px;">
               <div class="col-md-4">
                   <img src="<%= camp.image %> " class="img-fluid">
               </div>
               <div class="col-md-8">
                   <div class="card-body">
                      <h5 class="card-title">
                          <%= camp.title %> 
                      </h5>
                      <p class="card-text">
                          <%= camp.discreption %> 
                      </p>
                      <p class="card-text">
                          <small class="text-muted">
                              <%= camp.location %> 
                          </small>
                      </p>
                      <a href="/allcamp/<%= camp._id %> " class="btn btn-info">veiw</a>
                   </div>
               </div>

           </div>
       </div>
    
    <% } %> 
    <a href="/add_camp"> add new camp here</a>


